{% extends 'developer_test/base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        Task4 (Listado de Salones Reservados)
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container-fluid padding pt-3">
        <nav aria-label="breadcrumb"></nav>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'task1:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Task4</li>         
          </ul> 
        </nav>
    </div>
    <br>
    <!-- START -->
    <div class="container-fluid padding">
        <div class="row text-left padding">
            <div class="col-lg-3 mb-3">
                <!--THE CODE GOES HERE!!! -->
                {% comment %}
                {% include 'task1/companywiget.html' with cuantity=selected_dataset|length%}
                {% endcomment %}
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-light bg-dark rounded-lg">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" id="myInput" placeholder="Search {{info}}" onkeyup="myFunction()" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <form action="/action_page.php" class="form-inline">
                        <label for="order"><strong>Order by:</strong></label>
                        <select id="order" name="order">
                          <option value="name_ascending">Name ascending</option>
                        </select>
                        <!-- <input type="submit"> -->
                      </form>
                </nav>
                <!--Insert_cards code-->
                {% if object_list %}
                <div class="container-fluid padding pb-4">
                    <div class="row text-left padding">
                    <!-- <div class="col-lg-11 row div_prod"> -->
                    <div class="col-lg-12 row div_prod" id="myDiv">
                        {% for item in object_list %}  
                        <div class="col-md-3">
                            <div class="card">
                            <!-- <img src="https://www.iconpacks.net/icons/1/free-building-icon-1062-thumb.png" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <h5>{{item.reserva_salon|title }}</h5>
                                <p class="card-text">{{item.description}}</p>
                                <p><strong>{{item.start | date:'Y-m-d H:M:S'}} <br> {{item.end | date:'c'}}</strong></p>
                            </div>
                            <div class="card-footer">

                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                {% endif %}
            </div>
</div>
<div class="bg-light p-2 rounded-3" id="calendar">

</div>
    <!-- END -->
    <script src="{% static 'task4/js/calendar/index.global.js' %}"></script>
    <script src="{% static 'task4/js/calendar/index.global.min.js' %}"></script>
    <script src="{% static 'task4/js/mycalendar.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next, listDay,listWeek',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay' // user can switch between the two
            },
            events:[
                {% for reserva in object_list %}
                    { 
                        id: '{{reserva.id}}',
                        title: '{{reserva.reserva_salon}}',
                        start: "{{reserva.start | date:'c'}}",
                        end: "{{reserva.end | date:'c'}}",
                        extendedProps: {
                            status: 'done'
                        }
                    },
                {% endfor %}

            ],
            navLinks: true,
            navLinkDayClick: function(date, jsEvent) {
                console.log('day', date.toISOString());
                console.log('coords', jsEvent.pageX, jsEvent.pageY);
            },
            // change data
            eventDidMount: function(info) {
                if (info.event.extendedProps.status === 'done') {

                // Change background color of row
                info.el.style.backgroundColor = 'red';

                // Change color of dot marker
                var dotEl = info.el.getElementsByClassName('fc-event-dot')[0];
                if (dotEl) {
                    dotEl.style.backgroundColor = 'white';
                }
                }
            },
            // indicador
            nowIndicator :true,
            // click date
            dateClick: function(info) {
                // alert('Clicked on: ' + info.dateStr);
                // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                // alert('Current view: ' + info.view.type);
                // change the day's background color just for fun
                info.dayEl.style.backgroundColor = 'grey';
                
            }


        });
        calendar.render();
    });
    </script>
    {% endblock %}





</body>
</html>